body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Domine', serif;
    font-size: 1.6rem;
    background-color: var(--black);
    color: var(--light-gray);
}

.mudar-tema {
    position: absolute;
    top: 50px;
    right: 52px;
    font-size: 2.5rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}


.light-mode {
    background-color: var(--light-gray);
    color: var(--black);
}

.light-mode .senha-aleatoria,
.light-mode .configuracoes,
.light-mode .copy-text {
    background-color: var(--gray);
    color: var(--black);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    position: relative;
}

.main-container h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

.container-senha {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.senha-aleatoria {
    background-color: var(--dark-gray);
    color: var(--light-gray);
    height: 50px;
    width: 80%;
    outline: none;
    font-size: 2.5rem;
    padding: 0 15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.copy-text {
    width: 20%;
    background-color: var(--dark-gray);
    color: var(--light-green);
    font-size: 2rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.configuracoes {
    background-color: var(--dark-gray);
    padding: 30px 20px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
}

.selecionar-configuracoes {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.selecionar-configuracoes p {
    font-size: 1.8rem;
}

.selecionar-configuracoes i {
    cursor: pointer;
    transition: 1s ease;
}

.selecionar-configuracoes i:hover {
    transform: rotate(180deg);
}

.range {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 15px;
}

.range .texto-range {
    font-size: 2rem;
}

.range .range-slide {
    width: 100%;
    appearance: none;
    height: 3px;
    background-color: var(--light-green);
    outline: none;
    opacity: .7;
    transition: .2s;
    transition: .2s;
}

.range .range-slide:hover {
    opacity: 1;
}

.range .range-slide::-webkit-slider-thumb {
    appearance: none;
    height: 25px;
    width: 25px;
    background-color: var(--green);
    border-radius: 50%;
}

.range .range-slide::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background-color: var(--light-green);
}

.tipo-de-caracteres {
    max-width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.tipo-de-caracteres > label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.config-caractere {
    appearance: none;
    height: 30px;
    width: 30px;
    background-color: var(--white);
    border-radius: 50%;
}

.config-caractere:checked {
    background-color: var(--light-green);
}

.botao {
    width: 80%;
    height: 50px;
    background-color: var(--dark-green);
    font-family: 'Domine', serif;
    font-size: 2rem;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}